<main-menu></main-menu>
<form (ngSubmit)="onSubmit(contentForm.valid)" #contentForm="ngForm" class="content-form" novalidate>
    <div *ngIf="submitted && !contentForm.valid"
         class="form-error-message">Please fill all the fields
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="InputcontentTitle">Title</label>
                <input type="text" [(ngModel)]="node.name" ngControl="name"
                       class="form-control" id="InputcontentTitle"
                       placeholder="Title" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group" *ngIf="isNewNode">
                <label for="InputType">Type</label>
                <select class="form-control" required id="InputType" [ngModel]="type"
                        (ngModelChange)="onTypeChanged($event)"
                        ngControl="type">
                    <option *ngFor="#type of types" [value]="type">{{type}}</option>
                </select>
            </div>
            <div class="form-group" *ngIf="!isNewNode">
                <label for="InputTypeTxt">Type</label>
                <input type="text" [(ngModel)]="node.type" ngControl="type"
                       class="form-control" id="InputTypeTxt"
                       placeholder="Type" readonly>			
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label>Tags</label>
                <tag-select [(nodeEmitter)]="nodeEmitter"></tag-select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="InputVersionMessage">Version message</label>
        <input type="text"
               [(ngModel)]="content.versionMessage"
               ngControl="content.versionMessage"
               class="form-control" id="InputVersionMessage"
               placeholder="Version message" required>
    </div>

    <div class="row">
        <div class="col-md-8">
            <tabset>
                <tab *ngFor="#languageTab of languageTabs"
                     [heading]="languageTab.title"
                     [active]="languageTab.active"
                     (deselect)="languageTab.active = false"
                     (select)="selectTab(languageTab)"
                     [disabled]="languageTab.disabled">
				</tab>
			</tabset>
            <div  [hidden]="!currentVersion">
			Editable - {{testContent}}
            </div>
            <div  [hidden]="currentVersion">
			Non-editable - {{testContent}}
            </div>			
		</div>
        <div *ngIf="!isNewNode" class="col-md-4">
            <h3>History</h3>
            <ul class="fa-ul">
                <li *ngFor="#content of node.content | versionSort" class="content-version">
                    <span (click)="copyVersionContent($event, content)">
                        <i class="fa-li fa fa-file-code-o"></i>
                        {{content.versionNo}} - {{content.versionMessage}}
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="form-buttons">
        <button type="submit" class="btn btn-success">{{saveAction}}</button>
        <button class="btn btn-default" (click)="translate($event)">Translate</button>
        <button class="btn btn-default" (click)="publish($event)">Publish</button>
        <button class="btn btn-default" (click)="cancel($event)">Cancel</button>
    </div>

</form>
